body{
    background: #fefefe;
    font-family: 'Oswald', sans-serif;
    overflow: auto;
}

.index{
    width: 100vw;
    height: 100vh;
}

.masthead {
    color: black;
    min-height: 30rem;
    width: 100%;
    height: 100%;
    padding-top: 8rem;
    /*backagound-url()*/
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

.masthead h1{
    font-size: 4rem;
    margin: 0;
}

/* Syle card*/

#container {
    width: 90%;
    margin: 50px auto;
}

#rows {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-flow: wrap;
}

#card {
    width: 20%;
    background: #fff;
    border: 1px solid #ccc;
    margin-bottom: 50px;
    transition: 0.3s;
}

#card-header {
    text-align: center;
    padding: 50px 10px;
    background: linear-gradient(70deg, #414141, #000000);
    color: #fff;
}

#card-body {
    padding: 30px 20px;
    text-align: center;
    font-size: 18px;
}

#card-body .btn {
    display: block;
    color: #fff;
    text-align: center;
    background: linear-gradient(70deg, #414141, #000000);
    margin-top: 30px;
    text-decoration: none;
    padding: 10px 5px;
}

#card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 40px -10px rgba(0, 0, 0, 0.25);
}





@media (min-width: 992px){
    .mashead h1{
        font-size: 5.5rem;
    }
}




/*Responsive media quieries*/

@media screen and (max-width: 1000px) {
    #card {
        width: 40%;
    }
}

@media screen and (max-width: 620px) {
    #container {
        width: 100%;
    }

    .card-header {
        padding: 20px;
        font-size: 20px;
    }

    #card {
        width: 80%;
    }
}